.review {
  div[class='container'] {
    display: flex;
    gap: 32px;
    justify-content: space-between;
  }

  div[class='gradient'] {
    top: -150%;
    left: 0;
    width: 100%;
  }

  .content {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.04) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    border: 1px solid #6a6a6a;
    border-radius: 32px;

    padding: 30px;

    letter-spacing: -0.02em;

    flex: 0.3;

    position: relative;

    .button {
      position: absolute;
      top: 60px;
      right: -44%;
      translate: -50% 0;
    }

    h6 {
      margin-top: 130px;
      margin-bottom: 8px;
    }

    .position {
      font-size: 18px;
      line-height: 23px;

      display: block;
      margin-bottom: 24px;
    }

    .text {
      font-size: 24px;
      line-height: 190%;
    }
  }

  .image {
    flex: 0.7;

    border-radius: 40px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;

      object-fit: cover;
      object-position: center;
    }
  }
}
