.worldSlide {
  height: 100%;

  border-radius: 24px;

  position: relative;

  display: flex;
  align-items: end;

  flex: 1;

  transition: flex 0.7s ease;

  &.active {
    flex: 3;

    .icon {
      opacity: 1;

      transition-delay: 0.5s !important;
    }

    span {
      opacity: 1;

      transition-delay: 0.7s !important;
    }

    h6 {
      rotate: 0deg;
    }
  }

  .thumbnail {
    border-radius: inherit;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    height: 100%;

    pointer-events: none;

    object-fit: cover;
    object-position: center;

    z-index: -1;
  }

  .icon {
    width: 60px;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(24px);
    border-radius: 24px;

    transition: opacity 0.7s ease;

    opacity: 0;

    img {
      width: 24px;
      height: 24px;
    }
  }

  span {
    line-height: 20px;
    letter-spacing: 0.005em;

    margin: 16px 0 24px;

    transition: opacity 0.7s ease;

    opacity: 0;

    white-space: nowrap;
  }

  h6 {
    transition: rotate 0.7s ease;

    rotate: -90deg;
    transform-origin: 0 0;

    white-space: nowrap;
  }

  .content {
    padding: 32px;

    width: 10px;

    display: flex;
    align-items: start;
    justify-content: end;
    flex-direction: column;
  }
}
