.about {
  div[class='gradient'] {
    right: 0;
    top: -75%;
    width: 35%;
  }

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    gap: 24px;

    .text {
      font-weight: 700;
      font-size: 32px;
      line-height: 180%;

      color: $gray;

      text-align: center;

      span {
        color: #fff;
        font-weight: 800;
      }
    }
  }
}
